.list-link{
    color: rgba(255, 255, 255, 0.316);
    font-size: 18px;
}

.list-link li{
    padding: 15px 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
}

.list-link li:hover{
    color: white
}

.name{
    font-family: "Playfair Display", serif;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 2px 10px rgba(0,0,0,.5);
    color: white;
    background-color: #00a3e1;
    opacity: 0.8;
}

li.active{
    color: white;
}

.icon-social{
    color: rgba(255, 255, 255, 0.341);

}

.container-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}

.container-footer p{
    color: rgba(255, 255, 255, 0.341);
    font-size: 10px;
    margin: 3px;
}

.mobile{
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 4;
    transition: all 0.3s ease;
}


.open{
    color: black;
    left: 0;
}

.menu-btn{
    position: absolute;
    color: white;
    cursor: pointer;
    top: 6px;
    left: 5px;
    z-index: 3;
}

.close-btn{
    position: absolute;
    color: rgb(0, 0, 0);
    cursor: pointer;
    left:5px;
    top: 5px;
}

.container-nav-top{
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.827);
}


@media screen and (width <= 768px){
    .name-nav{
        font-family: 'Playfair Display', serif;
        font-weight: 700;
        text-transform: uppercase;
        text-shadow: 0 2px 10px rgba(0,0,0,.5);
        color: white;
    }
    
}

