#Portfolio{
    overflow-y: scroll;
    height: 100vh;
    width: 100%;
    background-color: #000000e1;
    padding: 30px;
}



#Portfolio::-webkit-scrollbar {
    width: 1px;
    background-color: #534c4ce1;

}

#Portfolio::-webkit-scrollbar-thumb {
    background-color: #00a3e1;
    border-radius: 10px;
}
#Portfolio h1{
    font-family: "Playfair Display", serif;
    font-size: 36px;
    letter-spacing: 1.5px;
    line-height: 1em;
    text-transform: capitalize;
    position: relative;
    color: #00a3e1;
    font-weight: 700;
    display: inline;
    word-break: break-word;
}


#Portfolio svg{
    color: #00a3e1;
}

#Portfolio .title{
    border-bottom: dotted 1px rgba(85, 85, 85, 0.896);
}

@media screen and (max-width: 768px) {
    #Portfolio .title h1{
        font-size: 32px;
    }
    
}

#Portfolio p{
    font-size: 18px;
    padding: 30px;
    color: white;
}

#Portfolio a{
    color: #00a3e1!important;
    text-decoration: underline;
}
